
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
/* HEADER */
figure{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 20px;
  
}

/* MAIN */

.bg-black{
  background-color: black;
}

.bg-blue{
  background-color: #0282f9;
  padding-left: 150px;
  padding-right: 150px;
}
.bg-blue li{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
  gap: 5px;

}
.bg-blue li img{
  width: 40px;
  height: auto;
}

.bg-blue li p{
  color: #ffffff;
}

h2 {
  color: #ffffff;
  padding: 50px;
  padding-left: 220px;
}

/* FOOTER */
.bg-img{
  background-image: url(./assets/img/footer-bg.jpg);
  position: relative;
}

.container-flex{
  display: flex;
  gap: 50px;
  padding: 30px 150px
  
}
footer ul{
  color: #ffffff;
  list-style: none;
}

footer a{
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.bg-logo{
  position: absolute;
  top: -100px;
  right: 100px;
  width: 500px;
}





