
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
/* HEADER */
figure{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 20px;
  
}

.flex-menu a{
  text-decoration: none;
  color: black;
}

/* MAIN */
main{
  color: #ffffff
}

.current-series{
  background-color: #0282f9;
  padding: 9px 30px;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 150px;
}

.bg-jumbo{
  height: 400px;
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
}

.bg-black{
  background-color: black;
  padding-left: 50px;
  position: relative;
  color: #ffffff;
  padding: 50px;
  

}

.btn-load-more{
  display: block;
  background-color:#0282f9;
  color: #ffffff;
  font-size: medium;
  font-weight:100;
  text-align: center;
  padding: 9px 30px;
  border: none;
  margin: 50px auto 0 auto;
  cursor: pointer;

}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  justify-content: center; 
}

.new-card{
  text-align: center;
  width: calc(100%/7);
}

.new-card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
  
}

.new-card p{
  font-size:small;
  text-align: center;
  text-transform: uppercase;
}




.bg-blue{
  background-color: #0282f9;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
  z-index: 1;
}
.bg-blue li{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
  gap: 5px;

}
.bg-blue li img{
  width: 40px;
  height: auto;
}

.bg-blue li p{
  color: #ffffff;
}



/* FOOTER */
.bg-img{
  background-image: url(./assets/img/footer-bg.jpg);
  position: relative;
}

.container-flex{
  display: flex;
  gap: 50px;
  padding: 30px 150px
  
}
footer ul{
  color: #ffffff;
  list-style: none;
}

footer a{
  text-decoration: none;
  color: #ffffff;
  font-size: small;
  font-weight: lighter;
  opacity: 0.5;
}

.bg-logo{
  position: absolute;
  top: -90px;
  right: 100px;
  width: 500px;
}

.footer-bottom{
  position: relative;
  background-color: #303030;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
}

.footer-h3{
  color: #0282f9;
}

.flex-icon{
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn{
  font-size: large;
  border: 2px solid #0282f9;
  padding: 15px;
  background-color: transparent;
  color: #ffffff;
}
